:root {
    --background-color: white;
    --card-color: white;
    --text-color: black;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --card-color: #121212;
        --text-color: white;
    }
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.card {
    background-color: var(--card-color);
    border: 2px solid var(--text-color);
    border-radius: 16px;
    padding: 1em;
    width: 30vw;
    margin: auto;
}

div.input-container {
    display: none;
}